* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './modules/fonts';
@import './modules/variables';
@import './modules/mixins';
@import './modules/inheritances';
@import './modules/section1';
@import './modules/section2';
@import './modules/section3';
@import './modules/section4';
@import './modules/section5';
@import './modules/section6';

.wrapper {
    background-color: $color-background;
    font-family: "Roboto";
    p {
        @include textStyles(100, 1.2rem, $color-gray, 27px); 
    }
}