.features {
    padding: 38px 210px 130px 210px;
    @include responsiveDesign(1700px) {
        padding: 38px 100px 100px 100px;
    }
    @include responsiveDesign(1200px) {
        padding: 38px 50px 100px 50px;
    }
    @include responsiveDesign(768px) {
        padding: 38px 20px 50px 20px;
    }
    &__texts {
        text-align: center;
        h1 {
            @include textStyles(700, 2.5rem, $color-black, 47px);
            @include responsiveDesign(768px) {
                font-size: 1.5rem;
            }
        }
        p {
            padding: 30px 150px 81px 150px;
            @include responsiveDesign(1400px) {
                padding: 30px 0 80px 0;
                @include responsiveDesign(576px) {
                    padding: 0 0 40px 0;
                }
            }
        }
    }
    &__items-boxs {
        display: flex;
        text-align: center;
        @include responsiveDesign(768px) {
            flex-wrap: wrap;
        }
        @include responsiveDesign(576px) {
            flex-wrap: wrap;
        }
        &__item-tools {
            @include responsiveDesign(768px) {
                flex-direction: column;
                align-items: center;
                width: 50%;
            }
            @include responsiveDesign(576px) {
                width: 100%;
                margin-bottom: 30px;
            }
            h1 {
                @include textStyles(700, 1rem, $color-black, 19px);
                margin: 27px 0 15px 0;
            }
            p {
                padding: 0 20px 0 20px;
            }
        }
        &__item-tools:last-child {
            @include responsiveDesign(768px) {
                width: 80%;
                margin: 30px auto 0 auto;
            }
            @include responsiveDesign(576px) {
                margin: 0 auto 0 auto;
            }
        }
    }
}