.widget {
    @include responsiveDesign(1700px) {
        padding: 0 100px 120px 130px;
    }
    @include responsiveDesign(1200px) {
        padding: 0 50px 40px 50px;
    }
    @include responsiveDesign(992px) {
        flex-direction: column;
        text-align: center;
    }
    display: flex;
    align-items: center;
    padding: 0 180px 120px 210px;
    h1 {
        @include textStyles(700, 2.5rem, $color-black, 46px);
        padding-right: 380px;
        @include responsiveDesign(1640px) {
            padding-right: 300px;
        }
        @include responsiveDesign(1550px) {
            padding-right: 200px;
        }
        @include responsiveDesign(1400px) {
            padding-right: 50px;
        }
        @include responsiveDesign(992px) {
            font-size: 1.5rem;
        }
    }
    p {
        padding: 30px 260px 0 0;
        @include responsiveDesign(1640px) {
            padding-right: 200px;
        }
        @include responsiveDesign(1550px) {
            padding-right: 100px;
        }
        @include responsiveDesign(1400px) {
            padding-right: 0;
        }
    }
    &__photo {
        @include responsiveDesign(992px) {
            width: 80%;
            margin-top: 20px;
        }
        img {
            @include responsiveDesign(992px) {
                width: 100%;
            }
        }
    }
}